<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521459097092-u9chbn9v58kalfgebphob8ga31668j0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521459097092-u9chbn9v58kalfgebphob8ga31668j0n</string>
	<key>API_KEY</key>
	<string>AIzaSyBoRipfkVCDqVWmjaXWd6Jv7PhxRZoMaik</string>
	<key>GCM_SENDER_ID</key>
	<string>521459097092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hous.Hous-iOS-release</string>
	<key>PROJECT_ID</key>
	<string>hous-ee093</string>
	<key>STORAGE_BUCKET</key>
	<string>hous-ee093.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521459097092:ios:56f77f07bd919adbc7df51</string>
</dict>
</plist>