# Mac OS X
*.DS_Store

# Xcode
*.xcuserstate
project.xcworkspace/
xcuserdata/
ipa/

#untracked
ThirdPartyLibraryManager/Sources/FirebaseWrapper/Resource
Hous-iOS-release/Setting/Configuartion
fastlane/
