//
//  Production.xcconfig
//  Hous-iOS-release
//
//  Created by 김호세 on 2022/08/13.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = $(inherited)
APP_BUNDLE_ID = com.hous.Hous-iOS-release
APP_NAME = Hous
OTHER_LDFLAGS = -ObjC
CFBundleDisplayName = Hous
API_BASE_URL = 13.124.14.171/v1

// Version
MARKETING_VERSION = 1.0.0
